h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
input[type=submit],
label {
  text-transform: uppercase;
}

h1, h2,
.h1, .h2 {
  letter-spacing: 3px;
  margin-bottom: 1.5em;
}

h3,
h4,
h5,
h6,
.h3,
.h4,
.h5,
.h6,
input[type=submit],
label {
  letter-spacing: 2px;
}

.text-uppercase {
  text-transform: uppercase;
}


h6,
.h6 {
  font-weight: 500;
}

p.small {
  margin-right: auto;
  margin-left: auto;
  font-size: 85%;
  font-weight: bold;
  max-width: 75%;
  line-height: 1.25;
  margin-bottom: 2.5rem;
  @include breakpoint(medium) {
    width: 50%;
    max-width: 40rem;
  }
}